
            <div class="profile-bg">
                <div class="row no-gutters justify-content-center">
                    <div class="container center">
                        <div class="profile-box">
                           <div class="row no-gutters">
                            <div class="col-sm-6 col-xs-12 profilePic">
                               <img src="../assets/images/anathpadmanab.jpg" class="rounded-circle" alt="profile" width="50%"> 
                            </div>
                            <div class="col-sm-6 col-xs-12 profileDetail">
                                <h3>ANANTHA PADMANABHA.N</h3>
                                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Director : </strong>Sambhrama Eco Housing Pvt Ltd
                                <br><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>CEO : </strong>Abhivrudhi Constructions & Developers(Regd.)
                                <br><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Honorary Secretary : </strong> Nrupathunga nagar Welfare Association
                                <address>
                                    #No.90, 1st Floor, Nrupathunga Nagar, J.P. Nagar 8th Phase, <br>Bengaluru - 560 076 
                                    <br><i class="fa fa-phone" aria-hidden="true"></i> 98860 43311/080 26655051 
                                </address>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>

