<nav class="slide-nav navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="navbar">
    <div class="col-md-2 col-6">
        <span class="brand">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/sambrama%20logo.jpg" class="brand-img" alt="Logo" />
             </a>
         </span>
    </div>
    <button class="navbar-toggler nav-btn" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
     <span class="navbar-toggler-icon"></span>
    </button> 
   <div class="collapse navbar-collapse" id="collapsibleNavbar">
     <ul class="navbar-nav nav-contents">
               <li class="nav-content-items"><a href="index.html#home">Home</a></li>
               <li class="nav-content-items"><a href="index.html#about">About</a></li>
               <li class="nav-content-items"><a href="#wat-we-do">Our Projects</a></li>
               <li class="nav-content-items dropdown"><a class="dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown" >Directors</a>
                   <div class="dropdown-menu director-dropdown">
                     <a class="dropdown-item" href="#!Anantha">Anantha Padmanabha.N</a>
                     <a class="dropdown-item" href="#!Prasad">B.N.Prasad</a>
                     <a class="dropdown-item" href="#!Panduranga">M.G.Panduranga</a>
                     <a class="dropdown-item" href="#!Basavaraj">S.Basavaraju</a>
                     <a class="dropdown-item" href="#!Jaisheel">Jaisheel G.Moro</a>
                     <a class="dropdown-item" href="#!Neeraj">Neeraj Kumar Almelkar</a>
                     <a class="dropdown-item" href="#!Ravi">K.N.Ravikumar</a>
                     <a class="dropdown-item" href="#!Srinivas">B.N.Srinivas</a>
                     <a class="dropdown-item" href="#!Sathish">Satish Kumar.L</a>
                   </div>
               </li>
               <li class="nav-content-items"><a href="#feature">Gallery</a></li>
               <li class="nav-content-items"><a href="#contact">Contact</a></li>      
              <a href="#!Registration" class="nav-content-items btn-animate">Book Here</a>     
     </ul>
   </div> 
 </nav>