            <div class="profile-bg">
                <div class="row no-gutters justify-content-center">
                    <div class="container center">
                        <div class="profile-box">
                           <div class="row no-gutters">
                            <div class="col-sm-6 col-xs-12 profilePic">
                               <img src="../assets/images/jaisheel.jpg" alt="profile" class="rounded-circle" width="50%"> 
                            </div>
                            <div class="col-sm-6 col-xs-12 profileDetail">
                                <h3>JAISHEEL G.MORO</h3>
                                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Director : </strong>Sambhrama Eco Housing Pvt Ltd
                                <br>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Secretary : </strong> Shreyas colony Residents Welfare Association
                                </p>
                                <address>
                                    #No.38, "Brindavana", 3rd Main, Shreyas Colony, J.P. Nagar 7th Phase, <br>Bangalore - 560 078 
                                    <br><i class="fa fa-phone" aria-hidden="true"></i> 94497 08877 
                                </address>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           