            <div class="profile-bg">
                <div class="row no-gutters justify-content-center">
                    <div class="container center">
                        <div class="profile-box">
                           <div class="row no-gutters">
                            <div class="col-sm-6 col-xs-12 profilePic">
                               <img src="../assets/images/neeraj.jpg" class="rounded-circle" alt="profile" width="50%"> 
                            </div>
                            <div class="col-sm-6 col-xs-12 profileDetail">
                                <h3>NEERAJ KUMAR ALMELKAR</h3>
                                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Director : </strong>Sambhrama Eco Housing Pvt Ltd<br><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Secretary : </strong> Suncity Layout Residents Welfare Association
                                <br><i class="fa fa-hand-o-right" aria-hidden="true"></i>Worked as Manager - Facilities & Administration in IT Industries.
                                </p>
                                <address>
                                    #No.180, "Kamadhenu", 1st Floor, Sun City, J.P. Nagar 7th Phase, <br>Bangalore - 560 078
                                    <br><i class="fa fa-phone" aria-hidden="true"></i> 78469 23456
                                </address>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           