            <div class="profile-bg">
                <div class="row no-gutters justify-content-center">
                    <div class="container center">
                        <div class="profile-box">
                           <div class="row no-gutters">
                            <div class="col-sm-6 col-xs-12 profilePic">
                               <img src="../assets/images/panduranga.jpg" class="rounded-circle" alt="profile" width="50%"> 
                            </div>
                            <div class="col-sm-6 col-xs-12 profileDetail">
                                <h3>M.G.PANDURANGA</h3>
                                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Director : </strong>Sambhrama Eco Housing Pvt Ltd
                                <br><i class="fa fa-hand-o-right" aria-hidden="true"></i>Retd. Department of Commercial Taxes. Govt of Karnataka.
                                <br><i class="fa fa-hand-o-right" aria-hidden="true"></i>Social Worker 
                                </p>
                                
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           