
            <div class="profile-bg">
                <div class="row no-gutters justify-content-center">
                    <div class="container center">
                        <div class="profile-box">
                           <div class="row no-gutters">
                            <div class="col-sm-6 col-xs-12 profilePic">
                               <img src="../assets/images/ravi.jpg" class="rounded-circle" alt="profile" width="50%"> 
                            </div>
                            <div class="col-sm-6 col-xs-12 profileDetail">
                                <h3>K.N.RAVIKUMAR</h3>
                                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Director : </strong>Sambhrama Eco Housing Pvt Ltd
                                <br>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>President : </strong>Shankara Seva Samithi Trust
                                <br><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>E.C. Member : </strong>Akhila Karnataka Brahmana Maha Sabha
                                </p>
                                <address>
                                    #No.159/1B, "Thotada Mane", 7th Main, Shrinidhi Layout, Konanakunte Post, <br>Bangalore - 560 062
                                    <br><i class="fa fa-phone" aria-hidden="true"></i> 94835 06669 
                                </address>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           