        <div class="register-body">
          <div class="container" >
           <div class="row no-gutters justify-content-center">
               <div class="register_form">
                <form id = "gform" action="https://script.google.com/macros/s/AKfycbwsXY0Jzom_nCaBhb5Wxjze8vpQdl_IF7RYppsznjMRibzCwC8/exec" method="post">
                    <!--<div class="registor-head">
                        <img src="images/registration-head.png" alt="registration-heading">
                    </div>-->
                    <div class="register-heading">
                    <h3>Registration Form</h3>
                    <p>(Purchaser's Details To Be Furnished)</p>
                    </div>
                    <div class="registration-fields">
                        <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Name : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="name" id="name" required placeholder="Enter your Name"/>
								</div>
							</div>
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">S/O, D/O, W/O : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" required name="sdw" id="sdw"  placeholder="S/O, D/O, W/O"/>
								</div>
							</div>
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">FULL ADDRESS : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<textarea rows="4" class="form-control" name="full_address" id="full_address" placeholder="Enter your ADDRESS" required></textarea>
									
								</div>
							</div>
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">PAN CARD NO (Optional) :</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="pan" id="pan"  placeholder="Enter your PAN CARD NO"/>
								</div>
							</div>
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Date Of Birth (Optional) :</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="date" class="form-control" name="dob" id="dob"  placeholder="Enter your DOB"/>
								</div>
							</div>
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Office Address :</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<textarea rows="4" name="off_address" id="off_address" placeholder="Enter Office Address" class="form-control"></textarea>
									
								</div>
							</div>
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Mobile : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="mobile" required id="mobile"  placeholder="Enter your Mobile number"/>
								</div>
							</div>
							
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Landline :</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="landline" id="landline"  placeholder="Enter your Landline number"/>
								</div>
							</div>
							
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Email : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" type="email" required name="email" id="email"  placeholder="Enter your Email id"/>
								</div>
							</div>
							
						</div>
                   <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Vacant Site : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="vacant" id="vacant" required placeholder="Vacant Site"/>
								</div>
							</div>
							<label for="name" class="cols-sm-2 control-label">Holiday Home : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="holiday" id="holiday" required placeholder="Holiday Home"/>
								</div>
							</div>
						</div>
                   <div class="form-group">
                       <p>Site Dimension : 30'x40'   30'x50'   40'x60'</p>
                        </div>
                    <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">2 BHK Apartment : </label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="bhk" id="bhk"  placeholder="Enter Site Dimension"/>
								</div>
							</div>
							<label for="name" class="cols-sm-2 control-label">Share an Acre : </label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="acre" id="acre"  placeholder=""/>
								</div>
							</div>
						</div>
                   <div class="form-group">
                   <label for="name" class="cols-sm-2 control-label">Registration THRU : Own Funds</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="reg_thru" id="reg_thru"  placeholder=""/>
								</div>
                       </div>
                        </div>
                    <div class="form-group">
                   <label for="name" class="cols-sm-2 control-label">Bank Loan : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="bank_loan" id="bank_loan" required placeholder=""/>
								</div>
                       </div>
                        </div>
                    <div class="form-group">
                   <label for="name" class="cols-sm-2 control-label">Registration Fee : Rs 200/-</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="reg_fee" id="reg_fee"  placeholder=""/>
								</div>
                       </div>
                        </div>
                        <div class="form-group">
                   <label for="name" class="cols-sm-2 control-label">Place : *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" name="place" id="place" required placeholder="Enter your Place"/>
								</div>
                       </div>
                        </div>
                       <!-- <div class="form-group">
                   <label for="name" class="cols-sm-2 control-label">Date : </label>
							<div class="cols-sm-10">
								<div class="input-group">
									
									<input type="text" class="form-control" type="date" name="date" id="date" required placeholder="Enter Date"/>
								</div>
                       </div>
                        </div>-->
                        <div class="submit-btn">
                            <input class="btn btn-primary" type="submit" id="submit">
                        </div>
                        <hr>
                        <p>*Documents required for Bank Loan: 2/3 years IT returns, 3 months salary certificate, 6 months Bank pass-sheet, Employer's certificate, Address proof, ID proof, PAN card, etc., Loan amount depending upon individual eligibility.</p>
                    </div>
                </form>
                <div style="display:none;color: #fff;text-align: center;padding: 5px;" id="thankyou_message">
                        <h2><em>Thanks</em> for Registering with us!
                          We will get back to you soon!</h2>
                              <a href="index.html">Home Page</a>
                </div>
            </div>
           </div>
        </div>
        </div>
         <script>
    function postContactToGoogle() {
        var email = $('#email').val();
        var name = $('#name').val();
        var sdw = $('#sdw').val();
        var full_address = $('#full_address').val();
        var pan = $('#pan').val();
        var landline = $('#landline').val();
        var mobile = $('#mobile').val();
        var vacant = $('#vacant').val();
        var bhk = $('#bhk').val();
        var bank_loan = $('#bank_loan').val();
        var reg_fee = $('#reg_fee').val();
        var place = $('#place').val();
        var date = $('#date').val();
        var dob = $('#dob').val();
        var office_address = $('#off_address').val();
        var holiday = $('#holiday').val();
        var acre = $('#acre').val();
        var reg_thru = $('#reg_thru').val();
            $.ajax({
                url: "https://docs.google.com/forms/d/e/1FAIpQLSfY7ChhCa2R6ElKztGayVAvcuLqJls-UzggbkwQyizsDYpAbA/viewform?usp=sf_link",
                data: { "entry.149475727": name,
                        "entry.1800709255": sdw, 
                       "entry.1341140126":full_address, 
                       "entry.1768874422": pan, 
                       "entry.265353151_year+entry.265353151_month+entry.265353151_day":dob, 
                       "entry.915340585": office_address, 
                       "entry.1206254938": mobile, 
                       "entry.1954979860": landline, 
                       "entry.2052720135": email, 
                       "entry.1619756486":vacant,
                       "entry.1193524199": holiday, 
                       "entry.1493123939": bhk, 
                       "entry.1484146574":acre, 
                       "entry.914307702": reg_thru, 
                       "entry.1469961183":bank_loan, 
                       "entry.408467895": reg_fee, 
                       "entry.1263641473": place, 
                       "entry.831481615_year+entry.831481615_month+entry.831481615_day":date},
                type: "POST",
                dataType: "xml",
                statusCode: {
                    0: function () {
                        window.location.replace("ThankYou.html");
                    },
                    200: function () {
                        window.location.replace("ThankYou.html");
                    }
                }
            });
    }
</script>
       <script data-cfasync="false" type="text/javascript"
  src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
