            <div class="profile-bg">
                <div class="row no-gutters justify-content-center">
                    <div class="container center">
                        <div class="profile-box">
                           <div class="row no-gutters">
                            <div class="col-sm-6 col-xs-12 profilePic">
                               <img src="../assets/images/satish.jpg" alt="profile" class="rounded-circle" width="50%"> 
                            </div>
                            <div class="col-sm-6 col-xs-12 profileDetail">
                                <h3>SATISH KUMAR.L</h3>
                                <p><i class="fa fa-hand-o-right" aria-hidden="true"></i><strong>Director : </strong>Sambhrama Eco Housing Pvt Ltd
                                <br>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Proprietor Sankalpa Infra Solution
                                <br>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Managing Director K.B.S. Enterprises
                                <br>
                                <i class="fa fa-hand-o-right" aria-hidden="true"></i>Ex. Wipro Consumer Care & Lighting
                                </p>
                                <address>
                                   #No 494, 1st B Main, M.S. Ramaiah City, J.P. Nagar 8th Phase, <br> Bangalore - 560 078
                                    <br><i class="fa fa-phone" aria-hidden="true"></i> 99721 99444
                                </address>
                            </div>
                          </div>
                        </div>
                        
                    </div>
                </div>
            </div>
           